DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=spina
DB_PASSWORD=spina
DB_NAME=intifada_development
DB_TEST_NAME=intifada_test

# Used for first Spina admin account setup
SPINA_ADMIN_EMAIL=admin@example.com
SPINA_ADMIN_PASSWORD=admin

FIGMA_API_TOKEN=your_figma_api_token_here
